.service-cms{
	padding: 10px; margin-bottom: 35px;
	h3{ padding-top: 10px; margin-bottom: 13px; color: #666666;}
	p{text-align: center;}
	div>span.compartir{text-align: center;}
}
 .link-inicio{
          color:#ffffff;
          text-decoration: none;
        }
        .header-pages{height:220px;
         h1{text-align: center; color: #ffffff; font-family: sans-serif, "Open-Sans";}
        }
        .nosotros{background: #666666;
          background-image: url('../img/nosotros-banner.jpg'); 
        background-repeat: no-repeat; background-size: cover;  }
        #titulo{display: flex; justify-content:center; }
        .title-center{color:#ffffff; text-align: ceneter; align-content: center; font-weight: 800; text-shadow: 2px 3px 2px #555555;}
        .sub-title-nosotros{font-family: sans-serif, "Open-Sans"; font-weight:700;padding-bottom:15px;}

                .alquiler{background: #666666;
          background-image: url('../img/alquiler-banner.jpg'); 
        background-repeat: no-repeat; background-size: cover;  }


.text-valores{font-family: "Open-Sans",sans-serif; font-size:20px;}

.p-nosotros{font-family: "Open-Sans",sans-serif; font-size:17px;}
.p-nosotros-sm{font-family: "Open-Sans",sans-serif; font-size:14px; padding:0px 10px 0px 10px;}
.p-nosotros-w{font-family: "Open-Sans",sans-serif; font-size:17px; color:#ffffff; text-align:justify-content}

.center-img{display:flex; justify-content:center; flex-direction:row;}

.box-title{min-height: 120px; float:left;text-transform: capitalize;}

